<section id="customersites">
  
    {{ range $i, $customer := .Site.Data.customersites.sites }}
    
    <div class="columns">
       {{ if modBool $i 2 }}
    <div class="column is-one-third">
       <img src="{{ $customer.image }}" />
    </div>
    <div class="column is-two-thirds"> 
      <h4>{{ $customer.site }}</h4>
      <p>{{ $customer.blurb }}</p>
     </div>
     {{ else }}
     <div class="column is-two-thirds"> 
         <h4>{{ $customer.site }}</h4>
         <p>{{ $customer.blurb }}</p>
        </div>
        <div class="column is-one-third">
           <img src="{{ $customer.image }}" />
        </div>
 
     {{ end }}
 
 </div> 
   {{end}}
 </section>