    <nav class="navbar navbar is-fixed-top">
      <div class="container">
        <div class="navbar-brand">
              <a href="/">
                <figure class="navbar-item image">
                   <img src="https://res.cloudinary.com/dklongley/image/upload/v1559571362/logo-Growth.svg"/>
                </figure>
              </a>
          <span class="navbar-burger burger" data-target="navMenu">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu {{ .Permalink }}">
          <div class="navbar-end">
            <a href="/" class="navbar-item has-text-black is-uppercase ">Home</a>
            <a href="/approach/" class="navbar-item has-text-black is-uppercase ">Approach</a>
            <a href="/recent-work/" class="navbar-item has-text-black is-uppercase ">Recent Work</a>
            <a href="/get-started/" class="navbar-item has-text-black is-uppercase ">Get Started</a>
            <!--<a href="/why-cloud-hosted/" class="navbar-item has-text-black is-uppercase ">Why Cloud Hosted</a>-->
            <a href="/contact/" class="navbar-item has-text-black is-uppercase ">Contact</a>
          
          </div>
        </div>
      </div>
    </nav>
    <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
  
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>
