{{ define "head" }}
    
{{ end }}

{{ define "header" }}
{{ partial "nav.html" . }}
<section id="fp-hero" class="hero is-medium" style="background:#129e40;xbackground-image:url('{{ .Params.image }}');background-size: cover; background-position: center center;">
  <div class="hero-body">
   <div class="container">
    <h2 class="is-hero-head">{{ .Params.blurb.heading }}</h2>
    <h3 class="is-hero-subhead">{{ .Params.blurb.subheading }}</h3>    
    <h4 class="is-size-3">{{ .Params.blurb.text }}</h4>
   </div>
   </div>
 </section>
{{ end }}

{{ define "main" }}
<section id="fp-reasons">
    <div class="container">
  <div class="columns">
      {{ range .Params.reasons }}
    <div class="column">
       <h3 class="is-size-3 is-uppercase">{{ .heading }}</h3>
        <h4 class="is-size-4 is-lowercase">{{ .subheading }}</h4>
        <ul>
        {{ range .benefits }}
            <li>{{ .benefit }}</li>
        {{end}}
        </ul>
    </div>
      {{end}}
      
  </div>
    </div>
</section>
<section id="fp-possibilities">
    <div class="container">
  <div class="columns">
      {{ range .Params.possibilities }}
    <div class="column">
       <h3 class="is-size-3 is-uppercase">{{ .heading }}</h3>
        <h4 class="is-size-4 is-lowercase">{{ .subheading }}</h4>
        <p>{{ .possible }}</p>
    </div>
      {{end}}
  </div>
    </div>
</section>
<section id="fp-features">
  <div class="container">
    <div class="columns">
    {{ range .Params.features }}
      <div class="column">
       <h3 class="is-size-3 is-uppercase">{{ .feature }}</h3>
      <h4 class="is-size-4 is-lowercase">{{ .subheading }}</h4>
      <p>{{ .description }}</p>
  </div>
    {{end}}
</div>
  </div>
</section>
<div id="fp-content"> {{ .Content }} </div>
{{ end }}

{{ define "more"}}

{{ end }}

{{ define "footer" }}
 
{{ end }}

