{{ define "head" }}
    <style>
        .bosk {
          display: flex;
          flex-direction: row;
        }
        .bosk div{order:2;padding:48px;xmargin-right:6px;border: 1px solid black;}
        .special{padding:32px;background-color: #28214a;color:white;}
        @media only screen and (min-width: 640px) {
        .bosk div.focus{order:1;}
        .secondary{margin-top: 2.4rem;margin-bottom: 2.4rem}
        .mr{margin-right: 1.4rem;}
        .ml{margin-left: 1.4rem;}
  }

</style>
{{ end }}

{{ define "header" }}
{{ partial "nav.html" . }}
<section id="fp-hero" class="hero is-medium" style="background:#28214a;xbackground-image:url('{{ .Params.image }}');background-size: cover; background-position: center center;">
  <div class="hero-body">
   <div class="container">
    <!-- <h2 class="is-hero-head">{{ .Params.blurb.heading }}</h2> -->
    <img src="{{ .Params.blurb.heading }}" />
    <h3 class="is-hero-subhead has-text-centered">{{ .Params.blurb.subheading }}</h3>    
    <!--<h4 class="is-size-3 has-text-centered">{{ .Params.blurb.text }}</h4> -->
    <ul id="benefits">
      {{ range .Params.bullets1 }}
          <li>{{ .bullet }}</li>
      {{end}}
      </ul>
   </div>
   <!-- <div class="container has-text-centered">
    <ul id="benefits">
    {{ range .Params.bullets1 }}
        <li>{{ .bullet }}</li>
    {{end}}
    </ul>
    </div> -->
    <h4 class="is-size-3 has-text-centered">{{ .Params.blurb.text }}</h4>
   </div>
 </section>
 
 <section><div class="has-text-centered"><h2>We Can Help You With</h2></div></section>
<section class="section">
  
<div class="container">
   <div class="bosk columns is-centered is-multiline">
            <div class="column special is-one-quarter"><h2>Your Website</h2><!-- An engine for growth. --> Start with a new website configured to begin growing your business or have us tune your existing website to improve performance and outcomes. <br/><a href="#">Learn More ...</a></div>
            <div class="column secondary focus is-one-quarter mr"><h4>Driving Traffic</h4> Email Marketing, Content Marketing, Social Media Marketing. Paid advertising. <br/><a href="#">Learn More ...</a></div>           
            <div class="column secondary is-one-quarter ml"><h4>Improving Conversion</h4> Turn more website traffic into customers, suscribers or doners. <br/><a href="#">Learn More ...</a></div>
        </div>
</div>
</section>
<section>
    <div class="container has-text-centered">
    <ul id="benefits">
    {{ range .Params.bullets2 }}
        <li>{{ .bullet }}</li>
    {{end}}
    </ul>
    </div>
    <div id="fp-intro" class="container">{{ .Params.intro | markdownify }}</div>
</section>
{{ end }}

{{ define "main" }}
<section id="fp-valueprop">
<h2>{{ .Params.vpHeading }}</h2>
<h3>{{ .Params.vpSubHeading }}</h3>
<div>{{ .Params.valueprop }}</div>
</section>
<section id="fp-reasons">
    <div class="container">
  <div class="columns">
      {{ range .Params.reasons }}
    <div class="column">
       <h3 class="is-size-3 is-uppercase">{{ .heading }}</h3>
        <h4 class="is-size-4 is-lowercase">{{ .subheading }}</h4>
        <ul>
        {{ range .benefits }}
            <li>{{ .benefit }}</li>
        {{end}}
        </ul>
    </div>
      {{end}}
      
  </div>
    </div>
</section>
<section id="fp-possibilities">
    <div class="container">
  <div class="columns">
      {{ range .Params.possibilities }}
    <div class="column">
       <h3 class="is-size-3 is-uppercase">{{ .heading }}</h3>
        <h4 class="is-size-4 is-lowercase">{{ .subheading }}</h4>
        <p>{{ .possible }}</p>
    </div>
      {{end}}
  </div>
    </div>
</section>

<div id="fp-content"> 
  {{ range .Params.features }}
    <h3 class="is-feature-head  is-uppercase">{{ .feature }}</h3>
    <h4 class="is-feature-subhead  is-lowercase">{{ .subheading }}</h4>
    <p>{{ .description }}</p>
  {{end}}

  {{ .Content }} 
</div>
{{ end }}

{{ define "more"}}

{{ end }}

{{ define "footer" }}
 
{{ end }}
