{{ define "head" }}
    
{{ end }}

{{ define "header" }}
{{ partial "nav.html" . }}
<section id="fp-hero" class="hero is-medium" style="background:#000000;xbackground-image:url('{{ .Params.image }}');background-size: cover; background-position: center center;">
  <div class="hero-body">
   <div class="container">
    <!-- <h2 class="is-hero-head">{{ .Params.blurb.heading }}</h2> -->
    <img src="{{ .Params.blurb.heading }}" />
    <h3 class="is-hero-subhead has-text-centered">{{ .Params.blurb.subheading }}</h3>    
    <h4 class="is-size-3 has-text-centered">{{ .Params.blurb.text }}</h4>
   </div>
   </div>
 </section>
<section>
    <ul id="benefits">
    {{ range .Params.bullets }}
        <li>{{ .bullet }}</li>
    {{end}}
    </ul>
    <div id="fp-intro" class="container">{{ .Params.intro | markdownify }}</div>
</section>
{{ end }}

{{ define "main" }}
<section id="fp-valueprop">
<h2>{{ .Params.vpHeading }}</h2>
<h3>{{ .Params.vpSubHeading }}</h3>
<div>{{ .Params.valueprop }}</div>
</section>
<section id="fp-reasons">
    <div class="container">
  <div class="columns">
      {{ range .Params.reasons }}
    <div class="column">
       <h3 class="is-size-3 is-uppercase">{{ .heading }}</h3>
        <h4 class="is-size-4 is-lowercase">{{ .subheading }}</h4>
        <ul>
        {{ range .benefits }}
            <li>{{ .benefit }}</li>
        {{end}}
        </ul>
    </div>
      {{end}}
      
  </div>
    </div>
</section>
<section id="fp-possibilities">
    <div class="container">
  <div class="columns">
      {{ range .Params.possibilities }}
    <div class="column">
       <h3 class="is-size-3 is-uppercase">{{ .heading }}</h3>
        <h4 class="is-size-4 is-lowercase">{{ .subheading }}</h4>
        <p>{{ .possible }}</p>
    </div>
      {{end}}
  </div>
    </div>
</section>

<div id="fp-content"> 
  {{ range .Params.features }}
    <h3 class="is-feature-head  is-uppercase">{{ .feature }}</h3>
    <h4 class="is-feature-subhead  is-lowercase">{{ .subheading }}</h4>
    <p>{{ .description }}</p>
  {{end}}

  {{ .Content }} 
</div>
{{ end }}

{{ define "more"}}

{{ end }}

{{ define "footer" }}
 
{{ end }}
