{{ define "head" }}
    
{{ end }}

{{ define "header" }}

{{ end }}

{{ define "main" }}
<section id="op-hero" class="hero is-medium" style="background:#e64242;xbackground-image:url('{{ .Params.image }}');background-size: cover; background-position: center center;">
    <div class="xhero-body">
       <div class="container has-text-centered">
     <h2 class="is-hero-head">{{ .Params.heading }}</h2>
       </div>
     </div>
   </section>
<section id="approach">
{{ .Content }}
</section>
{{ end }}

{{ define "more" }}

{{ end }}

{{ define "footer" }}
 
{{ end }}

{{ define "foot" }}
  
{{ end }}